<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambah Data</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title-text">JSON CRUD (Create)</h1>
      <form action="/add" method="post">
        <input
          type="text"
          name="name"
          placeholder="Insert your name"
          required
        />
        <input type="number" name="height" placeholder="Insert your height" />
        <input
          type="number"
          step="0.01"
          name="weight"
          placeholder="Insert your weight"
        />
        <input type="date" name="birthdate" />
        <select name="married">
          <option disabled selected>Have you married?</option>
          <option value="true">Yes</option>
          <option value="false">Not Yet</option>
        </select>
        <button type="submit">Save</button>
        <a href="/" class="btn">Cancel</a>
      </form>
    </div>
  </body>
</html>
